* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/headerBg.png);
    padding: 30px 0 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.t-center {
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 30px;
    margin-top: 215px;
    font-size: 52px;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.t-center input {
    border: none;
    padding: 5px;
    width: 320px;
    height: 30px;
    margin-right: -4px;
}

.t-center input::placeholder {
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.t-center button {
    width: 120px;
    height: 30px;
    background-color: rgb(253, 79, 50);
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.t-center input,
.t-center button {
    vertical-align: top;
}

/* ----------SECTION 1------------ */
#sec1 {
    background-color: #eeeeee;
    padding: 50px 0 60px;
}

#sec1 .flexbox,
#sec2 .flexbox {
    flex-wrap: wrap;
}

#sec1 h2 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

#sec1 .center>p {
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: 0px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}

.white {
    background-color: white;
    width: 250px;
    padding-bottom: 10px;
}

.white img {
    width: 100%;
    height: 200px;
}

.white h4 {
    padding: 10px;
    font-size: 15px;
    letter-spacing: 0px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.white p {
    text-align: justify;
    padding: 0 10px;
}

/* ---------SECTION 2------------ */
#sec2 {
    background-color: white;
    padding: 80px 0;
}

#sec2 h2 {
    font-size: 52px;
    letter-spacing: 2px;
    color: #323232;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

.block {
    width: 260px;
}

.block h4 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.block p {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

h3 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 60px 0 25px;
}

#sec2 input {
    border: none;
    padding: 5px;
    width: 320px;
    height: 30px;
    margin-right: -4px;
    background-color: #eeeeee;
}

#sec2 input::placeholder {
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

#sec2 button {
    width: 120px;
    height: 30px;
    background-color: rgb(253, 79, 50);
    border: none;
    font-size: 13px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

/* -------footer----------- */
footer {
    background-color: #eeeeee;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

footer ul {
    list-style-type: none;
    width: 350px;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 700;
    font-family: "Montserrat";
}

/* ------------------------@media------------------------------------------------- */
@media (max-width:1250px) {
    #sec1 .flexbox {
        justify-content: center;
    }

    #sec1 .white {
        margin: 10px;
    }

}

@media (max-width: 1000px) {
    header {
        padding-bottom: 100px;
    }

    h1 {
        font-size: 40px;
        margin-top: 70px;
    }

    #sec2 .flexbox {
        justify-content: center;
    }

    #sec2 .block {
        margin: 10px;
    }
}

@media (max-width: 755px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .t-center input {
        width: 100%;
    }

    h1 {
        margin-top: 50px;
    }

    .t-center button {
        margin-top: 10px;
    }

    header {
        padding-bottom: 50px;
    }

    #sec2 input {
        width: 100%;
    }
    footer .flexbox{
        flex-wrap: wrap;
        justify-content: center;
    }
    footer p{
        margin-bottom: 10px;
    }
    footer a{
        padding: 10px;
    }
}

@media (max-width: 400px) {
    #sec2 h2 {
        font-size: 40px;
    }
    footer a{
        padding: 5px;
    }
}